.main {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 96px;
}
@media only screen and (min-width: 768px) {
    .main {
        max-width: 768px;
        margin: 0 auto;
    }
}
@media only screen and (min-width: 1280px) {
    .main {
        max-width: 1128px;
    }
}
