.img {
    width: 288px;
    height: 172px;
    border-radius: 16px;
}
.boxTitle {
    max-width: 288px;
    height: 84px;
    background-color: rgba(47, 47, 55, 0.4);
    position: absolute;
    border-radius: 0 0 16px 16px;
    z-index: 99;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 12px 12px 12px 20px;
}
.title {
    font-size: 16px;
    color: var(--common-white);
}
@media only screen and (min-width: 768px) {
    .img {
        width: 356px;
        height: 177px;
    }
    .firstImg {
        width: 357px;
        height: 378px;
    }
    .boxTitle {
        max-width: 357px;
        height: 104px;
    }
    .title {
        font-size: 20px;
    }
}
@media only screen and (min-width: 1280px) {
    .img {
        width: 552px;
        height: 280px;
    }
    .firstImg {
        width: 552px;
        height: 584px;
    }
    .boxTitle {
        max-width: 552px;
    }
}
