.backMedia {
    border-radius: 16px;
    padding: 8px;

    height: 48px;
}
.link {
    display: grid;
    grid-template-columns: 32px 1fr;
    align-items: center;
    justify-items: center;
}
.navy {
    background-color: var(--navy);
}
.pink {
    background-color: var(--pink);
}
.scarlet {
    background-color: var(--scarlet);
}
.turq {
    background-color: var(--turquoise);
}
.yellow {
    background-color: var(--yellow);
}
.lilac {
    background-color: var(--lilac);
}
