@import './css/reset.css';
@import './css/variables.css';

:root {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.25;
    font-weight: 400;
    color: var(--grey);
    letter-spacing: 0.03em;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
